.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-horizontal {
  animation: carousel_horizontal_animation var(--animationDuration) linear
    infinite;
  -webkit-animation: carousel_horizontal_animation var(--animationDuration)
    linear infinite;
}

@keyframes carousel_horizontal_animation {
  from {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
  to {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}
